{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    {% include 'components/header.html' %}
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 w-100">
        <form method="POST" action="{{ url_for('auth.login') }}" class="w-100">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div>
            <p>Não tem conta? <a href="{{ url_for('auth.register') }}">registre-se</a></p>
        </div>
    </div>
{% endblock %}