{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 w-100">
        <form id="registerForm" class="w-100">
            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div>
            <p>Já tem conta? <a href="{{ url_for('auth_bp.login') }}">logue aqui</a></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}" type="module" ></script>
{% endblock %}